:root{
    --pale-blue:hsl(225,100%,94%);
    --bright-blue:hsl(245,75%,52%);
    --very-pale-blue:hsl(179,100%,92%);
    --desaturated-blue:hsl(224,23%,55%);
    --dark-blue:hsl(223,47%,23%);
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    background-image: url(./pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
    font-size: 16px;
    font-family: sans-serif;
  
}
.card{
    width: 450px;
    background-color: white;
    color: var(--desaturated-blue);
    margin: 50px auto ;
    margin-top: 125px;
    border-radius: 20px;
    overflow: hidden;
    
  
}
.title{
    color: var(--dark-blue);
    font-size: 32px;
    text-transform: capitalize;
}
.hero-image{
    width: 100%;
   
}
.container{
padding: 30px;
display: flex;
flex-direction: column;
justify-content: center;
justify-content: center;
text-align: center;
font-size: 18px;




}
.container > *{
    margin: 13px 0;
}
.order-description{
line-height: 25px;
}
.proceed-button{
    background-color: var(--bright-blue);
    padding: 1rem 0;
    color: white;
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
    text-transform: capitalize;
    
    
}
.proceed-button:active{
opacity: 0.8;
}
button{
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 12px;
    border:none;

}
.cancel-button{
    background-color: white;
    color: var(--desaturated-blue);
   
    margin-top: 22px;
}
.cancel-button:active{
    color:black
}


.plan-container{
    font-size: 16px;
    background-color: var(--very-pale-blue);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.plan-container strong{
    color: var(--dark-blue);
}
.plan-container a {
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 800;

}
.plan-container a:hover{
    opacity: 0.8;
    text-decoration: none;
}
.plan-description{
    line-height: 20px;
    margin-right: 50px ;
}